:root {
  /* Colors: Primary */
  --clr-primary-moderate-violet: hsl(263, 55%, 52%);
  --clr-primary-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-primary-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --clr-primary-white: hsl(0, 0%, 100%);
  /* Colors: Neutral */
  --clr-neutral-light-gray: hsl(0, 0%, 81%);
  --clr-neutral-light-grayish-blue: hsl(210, 46%, 95%);
  /* Font Family */
  --ff-primary: "Barlow Semi Condensed", sans-serif;
  /* Font Size */
  --fs-primary: 13px;
}

*,
*::before,
*::after {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100%;
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  font-weight: 500;
}

main,
div,
h1,
p {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 30px;
  padding: 30px;
  background-color: var(--clr-neutral-light-grayish-blue);
}

p {
  opacity: 50%;
}

.order-1 {
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-size: 100px 150px;
  background-position: right 10% top;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  border-radius: 15px;
}

.card-1 {
  background-color: var(--clr-primary-moderate-violet);
}

.card-2 {
  background-color: var(--clr-primary-very-dark-grayish-blue);
}

.card-3 {
  background-color: var(--clr-primary-white);
}

.card-4 {
  background-color: var(--clr-primary-very-dark-blackish-blue);
}

.card-header {
  display: flex;
  gap: 15px;
}

img {
  border-radius: 50%;
  border: 3px solid var(--clr-neutral-light-grayish-blue);
}

.img-2 {
  border: 3px solid var(--clr-primary-moderate-violet);
}

.graduate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.txt {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-txt {
  font-weight: 600;
  font-size: large;
}

.sub-txt {
  opacity: 70%;
}

.card-1, .card-2, .card-4 {
  color: var(--clr-primary-white);
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 8em;
    /* grid-auto-flow: column; */
  }

  .span-column {
    grid-column: 1 / span 2;
  }

  .span-row {
    grid-row: 1 / span 2;
  }

  .order-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .order-4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .order-5 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}